.app-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "h h" "n c";
  width: 1200px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: cornflowerblue;
}

